{% extends 'todo/base.html' %}

{% block content %}

<div style="margin-top: 100px;">
    <header>

        <div class="welcome-text">
        
          <h1>Initiative to provide <span>styled images </span> for free </h1>
          <br><br>
        
          <p>There has been tremendous growth in field of digital imaging and with the advancement of technology
          over the past few years,we are now able to generate stylized immages through a webapp.There is more demand than ever for image filters and styling .
          Social media platforms have greatly increased the popularity of image filters. </p>
        
          <p2> OUR CREW :SHREYAS,NISHCHAY,JAINENDRA,ASHAR,SUMANTH </p2>
        
          </div>
    </header>
</div>

{% endblock %}