{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Image Upload </title>
{% endblock %}


{% block content %}

<div style="margin-top: 100px;">

<h1>Image Upload</h1>
<h2>{{ error }}</h2>
<div class="container">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Image Upload !</legend>
        {{ form|crispy }}
    </fieldset>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %} 